.footer {
  max-width: 194px;
  max-height: 16px;
  margin: 90px auto 0;
  padding-bottom: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 194px;
    min-height: 16px;
    margin: 88px 263px 0 263px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    max-width: 194px;
    min-height: 14px;
    margin: 64px auto 0;
  }
}
