.footer {
  max-width: 194px;
  max-height: 16px;
  margin: 92px 241px 0 543px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 194px;
    min-height: 16px;
    margin: 88px 263px 0 263px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 194px;
    min-height: 14px;
    margin: 24px 63px 0 63px;
  }
}
