.page {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh; /*2008px*/
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #2a2c2f;
}

@media screen and (max-width: 768px) {
  .page {
    width: 100%;
    max-width: 768px;
    min-height: 1742px;
    background-color: #2a2c2f;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 100%;
    max-width: 320px;
    min-height: 1705px;
    background-color: #2a2c2f;
  }
}
